# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# IDE/editor configs
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile*
docker-compose.yml

# Logs and temp files
*.log
*.tmp
*.bak
