# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
log/
*.log

# Docker
*.pid
docker-compose.override.yml

# PDF/image output
output-folder/
images/

# Misc
*.bak
*.swp
